.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0;
}

.card-container {
    background-color: white;
    border: 1px solid $dark-gray;
    border-radius: 16px;
    padding: 16px;
    width: 20vw;
    height: 15vh;
    .card-title {
        font-weight: bold;
    }
    .card-info {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
}

.select-container {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    width: 50%;
}